---
{% for email in alarm_emails %}
- to: {{ email }}
  from: alertmanager@haus.net
  smarthost: sender-mail.mail-sender:587 
  require_tls: true
  tls_config:
    insecure_skip_verify: true
{% endfor %}
