---
{% for email in alarm_emails %}
- to: {{ email }}
  from: alertmanager@haus.net
  smarthost: sender-mail.mail-sender:587 
  requireTLS: true
  tlsConfig:
    insecureSkipVerify: true
{% endfor %}
