terraform {
  required_version = ">= 0.13"
  required_providers {
    kubectl = {
      source  = "gavinbunney/kubectl"
      version = ">= 1.9.4"
    }
  }
}

provider  "kubernetes" {}

provider  "kubectl" {}

provider "helm" {}

provider "vault" {
    token = "{{ vault_token.stdout }}"
    address = "https://{{ vault_server.stdout_lines[0] }}:8200"
    skip_tls_verify = true
}