terraform {
  required_version = ">= 0.13"
}

provider "vault" {
    token = "{{ vault_token.stdout }}"
    address = "https://{{ vault_server.stdout_lines[0] }}:8200"
    skip_tls_verify = true
}

provider "helm" {}